{% load static %}

<header class="text-gray-600 bg-indigo-500 body-font">
    <div class="container mx-auto flex  px-5 py-3 flex-col md:flex-row items-center justify-between">
        <div class="flex items-center">
            <a href="{% url 'home' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 mr-5">
                <img class="w-12" src="{% static 'images/logo.png' %}" alt="">
                <span class="ml-2 text-2xl font-bolder text-white">SanjoyTech</span>
            </a>
            <a href="{% url 'category-list' %}"
                class="mr-5 text-slate-100 hover:text-slate-300 cursor-pointer">Categories</a>
            <a href="{% url 'brand-list' %}" class="mr-5 text-slate-100 hover:text-slate-300 cursor-pointer">Brands</a>
        </div>

        <div class="w-full max-w-md">
            <form action="/search" method="GET" class="flex justify-center items-center">
                <div class="w-full mr-2">
                    <input type="text" id="footer-field" name="q"
                        class="w-full rounded border-none text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button type="submit"
                    class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-700 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Search</button>

            </form>
        </div>

        <div class="">
            <!-- <a class="mr-5 hover:text-gray-900">First Link</a> -->
            <a class="mr-5 text-slate-100 hover:text-slate-300 cursor-pointer">Register</a>
            <button
                class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login
            </button>
        </div>
    </div>
</header>