{% extends 'base.html' %}
{% load static %}
{% block title %}{{brand.title}} Products {% endblock %}
{% block content %}

<h2>
    <div class="w-full max-w-7xl px-5 py-10 md:pt-16 pb-24 mx-auto">

        <div class="grid grid-cols-1 md:grid-cols-4 gap:6 md:gap-10">


            <div class="filters">
                {% include 'main/filters.html' %}
            </div>


            <div class="col-span-12 md:col-span-3">
                <h2 class="text-2xl font-bold  pb-6">{{brand.title}} Products</h2>

                <div class="flex flex-wrap gap-6">

                    {% for product in brand_product %}
                    <div class="lg:w-1/4 md:w-1/2 p-4 w-full relative product border rounded-lg">
                        <div>
                            <a href="{% url 'product-details' product.slug product.id %}"
                                class="block  h-48 rounded overflow-hidden">
                                <img alt="ecommerce" class="object-contain object-center w-full h-full block"
                                    src="{{product.productattribute_set.first.image.url}}">
                            </a>
                        </div>
                        <div class="product-icons space-x-2">
                            <i class="fa fa-heart"></i>
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="mt-4 text-center">
                            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.category.title}}
                            </h3>
                            <a href="{% url 'product-details' product.slug product.id %}">
                                <h2 class="text-gray-900 title-font text-lg font-medium pdtitle">{{product.title}}</h2>
                            </a>
                            <p class="mt-1">Tk {{product.productattribute_set.first.price}}</p>
                        </div>

                    </div>
                    {% endfor %}

                </div>

                <p class="mt-10 text-center">
                    <a href="{% url 'product-list' %}"
                        class="btn bg-indigo-500 rounded py-3 px-4 font-semibold text-white uppercase">Load More <i
                            class="fa fa-sync"></i></a>
                </p>

            </div>

        </div>
    </div>

</h2>

{% endblock %}