{% load static %}
<div>
    <h2 class="text-2xl font-bold pb-6">Filters</h2>

    <!-- Colors  -->

    <div class="bg-white myshadow rounded py-8 px-5 mb-5">
        <h2 class="text-xl font-semibold mb-5">Colors</h2>
        <div class="flex flex-wrap space-x-5">
            {% for color in colors %}
            <div class="flex items-center mb-3">
                <input value="{{color.color__id}}" type="checkbox" class="mr-2">
                <button class="btn h-5 w-5 rounded" style="background-color:{{color.color__color_code}}"></button>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Categories  -->

    <div class="bg-white myshadow rounded py-8 px-5 mb-5">
        <h2 class="text-xl font-semibold mb-5">Categories</h2>

        <div class="flex flex-wrap space-x-5">

            {% for cat in categories %}
            <div class="flex items-center mb-3">
                <input value="{{cat.category__id}}" type="checkbox" class="mr-2">
                {{cat.category__title}}
            </div>
            {% endfor %}

        </div>


    </div>

    <!-- Brands  -->

    <div class="bg-white myshadow rounded py-8 px-5 mb-5">
        <h2 class="text-xl font-semibold mb-5">Brandds</h2>

        <div class="flex flex-wrap space-x-5">

            {% for brand in brands %}
            <div class="flex items-center mb-3">
                <input value="{{brand.brand__id}}" type="checkbox" class="mr-2">
                {{brand.brand__title}}
            </div>
            {% endfor %}

        </div>

    </div>

    <!-- Sizes  -->

    <div class="bg-white myshadow rounded py-8 px-5 mb-5">
        <h2 class="text-xl font-semibold mb-5">Sizes</h2>

        <div class="flex flex-wrap space-x-5">

            {% for size in sizes %}
            <div class="flex items-center mb-3">
                <input value="{{size.size__id}}" type="checkbox" class="mr-2">
                {{size.size__title}}
            </div>
            {% endfor %}

        </div>

    </div>

</div>