{% extends 'base.html' %}
{% load static %}
{% block title %}Details {% endblock %}
{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 pt-16 pb-16 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img id="zoom_01" alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                data-zoom-image="{{product.image.url}}" src="{{product.productattribute_set.first.image.url}}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest"><a href="{% url 'home' %}"
                        class="text-blue-500">Home</a> /
                    {{product.category}}</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mt-1">{{product.title}}</h1>

                <div class="flex my-3">
                    <span class="flex items-center space-x-1">
                        <i class="fa fa-star text-blue-500"></i>
                        <i class="fa fa-star text-blue-500"></i>
                        <i class="fa fa-star text-blue-500"></i>
                        <i class="fa fa-star text-blue-500"></i>
                        <i class="fa fa-star-half-alt text-blue-500"></i>
                        <i class="fa fa-star-o text-blue-500"></i>
                    </span>
                    Ratings
                </div>
                <p class="title-font font-medium text-2xl text-gray-900">Tk {{product.productattribute_set.first.price}}
                </p>
                <p class="leading-relaxed">{{product.details}}</p>






                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                    <div class="flex">
                        <span class="mr-3 text-xl">Color:</span>
                        {% for p_attr in product.productattribute_set.all %}
                        <button style="background-color: {{p_attr.color.color_code}}"
                            class="border-2 border-gray-300 ml-1 rounded-full w-6 h-6 focus:outline-none"></button>
                        {% endfor %}


                    </div>
                    <div class="flex ml-6 items-center">
                        <span class="mr-3 text-xl">Size:</span>
                        <div class="relative">
                            <select
                                class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 text-base pl-3 pr-10">
                                {% for p_attr in product.productattribute_set.all %}
                                <option>{{p_attr.size.title}}</option>
                                {% endfor %}
                            </select>
                            <span
                                class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                                    <path d="M6 9l6 6 6-6"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <form class="">
                    <input type="number"
                        class="rounded border  border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 text-base px-3 w-20">
                    <button
                        class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg font-medium">Add
                        to Cart</button>
                    <button
                        class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                        <i class="fa fa-heart text-xl"></i>
                    </button>
                </form>

                <p class="text-lg text-gray-900 mt-5">Brand : {{product.brand}}</p>
            </div>
        </div>


    </div>

    <div class="w-full max-w-7xl px-5 py-10 md:pt-16 pb-24 mx-auto border-t">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 pb-6">
            <div>
                <h2 class="text-3xl font-medium text-gray-900">Specification</h2>

                <p class="text-gray-500 text-lg my-5 text-justify">{{product.specs}}</p>
            </div>
            <div>
                <h2 class="text-3xl font-medium text-gray-900">Review 4.5/5 <i class="fa fa-star text-blue-500"></i>
                </h2>

                <div class="my-7 p-10 border rounded">
                    <div class="mb-10">
                        <div class="flex mb-3 items-center">
                            <span class="text-lg font-medium text-gray-600 mr-2">- User</span>
                            <span class="flex items-center space-x-1">
                                <i class="fa fa-star text-blue-500"></i>
                                <i class="fa fa-star text-blue-500"></i>
                                <i class="fa fa-star text-blue-500"></i>
                                <i class="fa fa-star text-blue-500"></i>
                                <i class="fa fa-star-half-alt text-blue-500"></i>
                                <i class="fa fa-star-o text-blue-500"></i>
                            </span>
                        </div>

                        <p class="text-md text-gray-500 my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ducimus, quo!</p>
                    </div>


                    <form class="">
                        <input type="text"
                            class="rounded border  border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 text-base px-3 w-full">

                        <button
                            class="text-white bg-blue-500 border-0 py-2 px-6 text-lg focus:outline-none hover:bg-blue-600 rounded font-medium w-full mt-3">Add
                            Review</button>

                    </form>

                </div>
            </div>
        </div>


        <h2 class="text-3xl font-medium  py-10 border-t">Related Products</h2>



        {% for product in related_products %}
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full relative product border rounded-lg">
            <div>
                <a href="{% url 'product-details' product.slug product.id %}"
                    class="block  h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-contain object-center w-full h-full block"
                        src="{{product.productattribute_set.first.image.url}}">
                </a>
            </div>
            <div class="product-icons space-x-2">
                <i class="fa fa-heart"></i>
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="mt-4 text-center">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product.category.title}}
                </h3>
                <a href="{% url 'product-details' product.slug product.id %}">
                    <h2 class="text-gray-900 title-font text-lg font-medium pdtitle">{{product.title}}</h2>
                </a>
                <p class="mt-1">Tk {{product.productattribute_set.first.price}}</p>
            </div>

        </div>
        {% endfor %}



    </div>

</section>



<!-- Image Zoom -->
<script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
<script>
    $('#zoom_01').ezPlus();
</script>

<!-- Add To Cart -->
<script src="{% static 'custom.js' %}"></script>

{% endblock %}